/*

  This file is part of 'html5-invasion'.

  Copyright 2012 Sergio Lindo - <sergiolindo.empresa@gmail.com>

  'html5-invasion' is free software: you can redistribute it and/or modify it
  under the terms of the GNU General Public License as published by the Free
  Software Foundation, either version 3 of the License, or (at your option) any
  later version.

  'html5-invasion' is distributed in the hope that it will be useful, but
  WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
  FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
  details.

  You should have received a copy of the GNU General Public License along with
  'html5-invasion'. If not, see <http://www.gnu.org/licenses/>.

*/

body {
	background-color:black;
	color:white;
	font:bold 20px verdana;
	overflow:hidden;
}

p.notice {
	color:#550099;
	font:normal 18px verdana;
	-webkit-animation:blink 1.5s step-end infinite;
	-moz-animation:blink 1.5s step-end infinite;
	-o-animation:blink 1.5s step-end infinite;
	animation:blink 1.5s step-end infinite;
}

#divGameLicense {
	background-color:white;
	color:black;
	font:normal 18px verdana;
	height:390px;
	margin:auto;
	padding:0.5em 2em;
	width:90%;
}

#divGameMenu {
	display:none;
	background-color:white;
	color:black;
	font:bold 28px verdana;
	height:390px;
	margin:auto;
	padding:0.5em 1em;
	text-align:center;
	width:90%;
}

#divGameMenu img {
	height:50%;
	width:auto;
}

#divGameScreen {
	display:none;
	font:normal 24px verdana;
}

div.timeCounter {
	background-color:#010;
	color:#0fa;
	float:right;
	height:61px;
	padding: 0px 0px 3px 3px;
	text-align:center;
	width:4.3em;
}

#divTimeCounter {
	background-color:#020;
}

#canvasGameScreen {
	height:100%;
	left:50%;
	position:absolute;
	top:50%;
	width:100%;
}

#ulControlPanel {
	left:50%;
	padding:1% 0 0 2%;
	position:absolute;
	top:50%;
}

#ulControlPanel li {
	display:inline-block;
	list-style:none;
	overflow:hidden;
}

#ulControlPanel li a {
	display:block;
	height:100%;
	width:100%;
}

#liGasPedal {
	background:url('../img/gasPedal.png') 0 0;
	background-size:202%;
	height:48%;
	width:10.5%;
}

#liGasPedal.pushed {
	background:url('../img/gasPedal.png') -99% 0;
	background-size:202%;
}

#liCraneLever {
	background:url('../img/craneLever.png') 0 0;
	background-size:204%;
	height:48.666666667%;
	width:7.5%;
}

#liCraneLever.pushed {
	background:url('../img/craneLever.png') -99% 0;
	background-size:204%;
}

#liCommitButton {
	background:url('../img/commitButton.png') 0 0;
	background-size:200%;
	height:54%%;
	width:30.125%;
}

#liCommitButton.pushed {
	background:url('../img/commitButton.png') -100% 0;
	background-size:200%;
}

#divGameOver {
	background-color:#010;
	color:#0fa;
	display:none;
	left:50%;
	margin: -32px 0px 0px -148px;
	position:absolute;
	text-align:center;
	top:50%;
	width:auto;
}

#divGameOver p {
	background-color:#020;
	color:#fff;
	margin: 0.2em .4em 0 .4em;
	padding: .3em .5em .3em .5em;
	text-align: left;
}


/*******************************************************************************
	ANIMATIONS BODY.
*******************************************************************************/


/* BLINK.    --------*/

	@-webkit-keyframes blink {
		0% {
			opacity:1;
		}
		5% {
			opacity:0.9;
		}
		10% {
			opacity:0.8;
		}
		15% {
			opacity:0.7;
		}
		20% {
			opacity:0.6;
		}
		25% {
			opacity:0.5;
		}
		30% {
			opacity:0.4;
		}
		35% {
			opacity:0.3;
		}
		40% {
			opacity:0.2;
		}
		45% {
			opacity:0.1;
		}
		60% {
			opacity:0.2;
		}
		65% {
			opacity:0.3;
		}
		70% {
			opacity:0.4;
		}
		75% {
			opacity:0.5;
		}
		80% {
			opacity:0.6;
		}
		85% {
			opacity:0.7;
		}
		90% {
			opacity:0.8;
		}
		95% {
			opacity:0.9;
		}
		100% {
			opacity:1;
		}
	}

	@-moz-keyframes blink {
		0% {
			opacity:1;
		}
		5% {
			opacity:0.9;
		}
		10% {
			opacity:0.8;
		}
		15% {
			opacity:0.7;
		}
		20% {
			opacity:0.6;
		}
		25% {
			opacity:0.5;
		}
		30% {
			opacity:0.4;
		}
		35% {
			opacity:0.3;
		}
		40% {
			opacity:0.2;
		}
		45% {
			opacity:0.1;
		}
		60% {
			opacity:0.2;
		}
		65% {
			opacity:0.3;
		}
		70% {
			opacity:0.4;
		}
		75% {
			opacity:0.5;
		}
		80% {
			opacity:0.6;
		}
		85% {
			opacity:0.7;
		}
		90% {
			opacity:0.8;
		}
		95% {
			opacity:0.9;
		}
		100% {
			opacity:1;
		}
	}

	@-o-keyframes blink {
		0% {
			opacity:1;
		}
		5% {
			opacity:0.9;
		}
		10% {
			opacity:0.8;
		}
		15% {
			opacity:0.7;
		}
		20% {
			opacity:0.6;
		}
		25% {
			opacity:0.5;
		}
		30% {
			opacity:0.4;
		}
		35% {
			opacity:0.3;
		}
		40% {
			opacity:0.2;
		}
		45% {
			opacity:0.1;
		}
		60% {
			opacity:0.2;
		}
		65% {
			opacity:0.3;
		}
		70% {
			opacity:0.4;
		}
		75% {
			opacity:0.5;
		}
		80% {
			opacity:0.6;
		}
		85% {
			opacity:0.7;
		}
		90% {
			opacity:0.8;
		}
		95% {
			opacity:0.9;
		}
		100% {
			opacity:1;
		}
	}

	@keyframes blink {
		0% {
			opacity:1;
			filter:alpha(opacity=100); /* For IE8 and earlier */
		}
		5% {
			opacity:0.9;
			filter:alpha(opacity=90); /* For IE8 and earlier */
		}
		10% {
			opacity:0.8;
			filter:alpha(opacity=80); /* For IE8 and earlier */
		}
		15% {
			opacity:0.7;
			filter:alpha(opacity=70); /* For IE8 and earlier */
		}
		20% {
			opacity:0.6;
			filter:alpha(opacity=60); /* For IE8 and earlier */
		}
		25% {
			opacity:0.5;
			filter:alpha(opacity=50); /* For IE8 and earlier */
		}
		30% {
			opacity:0.4;
			filter:alpha(opacity=40); /* For IE8 and earlier */
		}
		35% {
			opacity:0.3;
			filter:alpha(opacity=30); /* For IE8 and earlier */
		}
		40% {
			opacity:0.2;
			filter:alpha(opacity=20); /* For IE8 and earlier */
		}
		45% {
			opacity:0.1;
			filter:alpha(opacity=10); /* For IE8 and earlier */
		}
		60% {
			opacity:0.2;
			filter:alpha(opacity=20); /* For IE8 and earlier */
		}
		65% {
			opacity:0.3;
			filter:alpha(opacity=30); /* For IE8 and earlier */
		}
		70% {
			opacity:0.4;
			filter:alpha(opacity=40); /* For IE8 and earlier */
		}
		75% {
			opacity:0.5;
			filter:alpha(opacity=50); /* For IE8 and earlier */
		}
		80% {
			opacity:0.6;
			filter:alpha(opacity=60); /* For IE8 and earlier */
		}
		85% {
			opacity:0.7;
			filter:alpha(opacity=70); /* For IE8 and earlier */
		}
		90% {
			opacity:0.8;
			filter:alpha(opacity=80); /* For IE8 and earlier */
		}
		95% {
			opacity:0.9;
			filter:alpha(opacity=90); /* For IE8 and earlier */
		}
		100% {
			opacity:1;
			filter:alpha(opacity=100); /* For IE8 and earlier */
		}
	}

